<!doctype html>
<html ng-app = 'flickr-potato'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript"></script>
  </head>
  <body>
    <form ng-controller="SearchPictures">
    	<button ng-click="search()">Search for pictures</button><br/>
    	<input type="search" id="search" placeholder="Search for photos" ng-model="querry">
      <h1>You are looking for {{querry}}!</h1>

      <div ng-repeat = 'info in results'>
      	<p>Title: {{info.title}}</p>
      	<p>Author: {{info.author}}</p>
      	<p><img ng-src="{{info.media.m}}"/></p>
      	<p>View on flicker<src ng-src="{{info.link}}"/></p>
      </div>

    </form>
    </div>
    <script src="main.js"></script>
  </body>
</html>